* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #000000;
  --bg-url: url(./assets/wallpaper-cla.jpeg);
  --switch-bg-url: url(./assets/contrast-outline.svg);
}

.dark {
  --text-color: #fff;
  --bg-url: url(./assets/wallpaper-esc.jpeg);
  --switch-bg-url: url(./assets/contrast.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "inter", sans-serif;
  color: var(--text-color);
}

#container {
  height: 712px;
  width: 360px;
  margin: 56px auto 0px;
}

#profile {
  text-align: center;
}

#profile img {
  display: block;
  width: 112px;
  border-radius: 50%;
  margin: 0 auto;

  border: 3px solid var(--text-color);
}

#profile p {
  font-weight: 600;
  line-height: 24px;

  margin: 8px 0px 20px 0px;
}

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

.dark #switch button {
  right: 0;
  left: initial;
}

#switch button {
  width: 30px;
  height: 30px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--text-color);
  border-radius: 9999px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0px;
  font-size: 24px;
}

#social-links a {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: center;

  transition: background 0.3s;
  border-radius: 50%;
}

#social-links a:hover {
  background: rgba(255, 109, 236, 0.481);
}

ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 24px 0px;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  padding: 16px 24px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid var(--text-color);
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-weight: 500;
  text-decoration: none;

  transition: all 0.4s;
}

ul li a:hover {
  background-color: rgba(255, 109, 236, 0.481);
  border: 1px solid;
  color: rgb(2, 255, 251);
  img {
    opacity: 10;
  }
}

ul li a img {
  width: 36px;
  height: 36px;
  transition: 0.6s;
}

footer {
  padding: 24px 0px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}

.img-panda {
  display: flex;
  min-width: 30px;
  min-height: 30px;
  margin: 0px 15px;

  opacity: 0;
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/Panda.jpg);
  }

  .dark {
    --bg-url: url(./assets/Panda-esc.jpeg);
  }
}
